@font-face {
    font-family: 'NHaasGrotesk65';
    src: url('NHaasGroteskTXPro-65Md.ttf');
}

body {
    display: flex;
    background: black;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}

.btn-group .button {
    font-family: 'NHaasGrotesk65';
    background-color: #202020;
    color: white;
    padding: 15px 32px;
    font-size: 14px;
    cursor: pointer;
    width: 300px;
    display: block;
    margin: 10px 40px;
    border-radius: 2px;
    border: none;
}

.btn-group .button:hover {
  background-color: #303030;
}

.btn-group .half-group {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.btn-group .half-group .button {
    width: calc(50% - 10px);
    max-width: 400px;
    margin: 10px 0;
    padding: 10px 32px;
    height: 40px;
}

.image-container {
    border: none;
    transition: margin-left 0.5s ease;
}
.image-container img {
    height: auto;
    width: auto\9;
    max-width: 100%;}

@media (max-width: 800px) {
    body {
        align-items: center;
        justify-content: center;
    }
    .image-container {
        display: none;
    }
}