@font-face {
    font-family: 'NHaasGrotesk65';
    src: url('NHaasGroteskTXPro-65Md.ttf');
}

html, body {
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    background: black;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}

.app-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0;
}

.btn-group {
    margin-left: 20px;
}

.btn-group .button {
    font-family: 'NHaasGrotesk65';
    background-color: #202020;
    color: white;
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    width: 400px;
    display: block;
    margin: 10px 40px;
    border-radius: 2px;
    border: none;
    position: relative;
}

.btn-group > .button::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 15%;
    background-color: rgb(58, 58, 58);
    position: absolute;
    left: 0;
    top: 0;
}

.btn-group .button:hover {
  background-color: #303030;
}

.btn-group .half-group {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.btn-group .half-group .button {
    width: calc(50% - 10px);
    max-width: 400px;
    margin: 10px 0;
    padding: 10px 40px;
    height: 50px;
}

.image-container {
    border: none;
    margin-left: calc(50vw - 50%);
    transition: margin-left ease;
}

.image-container img {
    height: 120vh;
    width: 50vw;
    object-fit: cover;
}

@media (max-width: 800px) {
    body {
        align-items: center;
        justify-content: center;
    }
    .image-container {
        display: none;
    }
}
