/* display borders */
/* div {border: 1px solid #afafaf;} */

body {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;;
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 80px;
}

.stopshape {
        height: 20px; 
        width: 220px;
        background-color: rgb(0, 0, 0);
    }

#container1 {display: flex;}
    /* SIDEBAR */
        #sidebar {
            margin-left: 0px;
            margin-right: auto;
            width: 450px;
        }
        .pfp {
            height: 185px; 
            width: 185px;
            background-color: transparent;
            border-radius: 50%;
        }
        .name {
            font-size: 36px;
            font-weight: bold;
            color: white;  
            padding-left: 10px;  
        } 
        .bio {
            font-size: 20px;
            color: rgb(200, 200, 200);
            padding-left: 10px;  
        }

    /* SPOTIFY EMBEDS */
        #spotify {
            margin-left: auto;
            margin-right: 0px;
            display: flex;
            justify-content: end;
        }
        .embed {
            padding-left: 50px;
            display: inline-block;
        }

#rightbttns1 {display: flex; margin-top: 47px;}
#rightbttns2 {display: flex; margin-top: 15px;}
    /* BUTTONS STYLING */
        .bttn {
            background-color: rgb(18, 18, 18);
            border: none;
            border-radius: 20px;
            color: white;
            padding: 22px;
            text-align: center;
            font-size: 18px;
            transition: 0.4s;
            height: 65px;
            width: 390px;
            display: inline-grid;
            cursor: pointer;
        }   
        .bttn:hover {
            
            font-size: 18.2px;
            background-color: rgb(31, 31, 31)
        }

    /* BUTTONS PLACEMENT */
        .left {
            margin-left: auto;
            margin-right: 0px;
            width: 390px;
            padding-left: 50px;
        }
        .right {
            width: 390px;
            padding-left: 50px;
            display: flex;
            justify-content: end;
        }

    .btnstop {
        margin-left: 0px;
        margin-right: auto;
        width: 450px;
    }